$Black: #000000;
$Gold: #c2a475;
$White: #fff;

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: $White;
  background-image: url("../images/girl-fond.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #000;

  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
    padding: 0;
  }

  .light {
    font-weight: 300;
  }

  .bold {
    font-weight: 500;
  }

  .w-100 {
    width: 100%;
  }

  .show {
    display: flex;
  }

  /* DESKTOP*/
  /* HEADER DESKTOP*/
  .header-desktop {
    display: block;
    width: 100%;
    height: 14vh;

    a {
      text-decoration: none;
      color: $White;
    }

    .first-part {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 20px;

      .nav-desktop {
        display: flex;
        align-items: center;

        .search-part {
          display: flex;
          margin-right: 40px;
          align-items: center;

          .box-search {
            width: 20px;
            padding-right: 10px;
            border-right: solid 2px $White;

            img {
              width: 100%;
            }
          }

          input {
            background-color: transparent;
            border: none;
            padding-left: 10px;
            color: $White;
            width: 150px;
          }
        }

        .basket-account-part {
          display: flex;
          align-items: center;

          .basket-box,
          .account-box {
            width: 20px;
            margin-left: 10px;

            img {
              width: 100%;
            }
          }
          a {
            font-size: 14px;
            padding-left: 10px;
          }
        }
      }
    }

    hr {
      margin: 0;
    }

    .second-part {
      display: flex;
      height: 50%;
      justify-content: center;
      align-items: center;

      a {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 300;
        padding: 10px 10px;
      }
      a:hover {
        background-color: $White;
        color: $Black;
        height: 10px;
      }
    }
  }
  .header-mobile {
    display: none;
  }

  /* SECTION 1 */
  .slider {
    background-image: url("../images/girl-desktop.jpg");
    height: 45vh;
    background-position: center 33%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .arrow-left {
      position: absolute;
      left: 50px;
    }

    .arrow-right {
      position: absolute;
      right: 50px;
    }
  }

  /* SECTION 2 */
  .test-desktop {
    height: 32vh;
    padding: 20px;
    display: flex;
    justify-content: space-between;

    .half {
      width: 48%;
      display: flex;
      flex-direction: column;

      .my-brand {
        display: flex;
        justify-content: space-between;

        p {
          font-size: 14px;
        }

        .quarante {
          width: 40%;
        }
      }
    }

    .mon-compte {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      p {
        font-size: 16px;
      }

      input {
        width: 99%;
        height: 40px;
        border: none;
      }

      .mdp {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
          background-color: $Gold;
          height: 40px;
          color: $White;
          width: 150px;
        }
      }
    }
  }
  .test-mobile {
    display: none;
  }

  /* FOOTER DESKTOP */
  .footer-desktop {
    height: 40px;
    background-color: $White;
    color: $Black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    p {
      font-size: 10px;
    }
  }

  /* MOBILE */
  @media only screen and (max-width: 600px) {
    .header-desktop,
    .test-desktop {
      display: none !important;
    }

    .header-mobile,
    .test-mobile {
      display: flex !important;
    }

    .header-mobile {
      #dropdown {
        display: flex;
        width: 100%;
        justify-content: space-around;

        .dropbtn {
          color: $White;
        }

        .dropdown-content {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          height: 100vh;
          background-color: #fff;
          min-width: 160px;
          overflow: auto;
          border-top: solid 1px black;
          border-right: solid 1px black;
          z-index: 1;
          width: 65%;
        }

        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        .dropdown-content a:active {
          background-color: grey;
        }

        .show {
          display: block;
        }
      }
    }

    .slider {
      height: 130px;

      .arrow-left,
      .arrow-right {
        width: 14px;
      }
    }

    .test-mobile {
      height: auto;
      flex-direction: column;
      padding: 20px;
      display: flex;
      justify-content: space-between;

      .h1 {
        width: 100%;
        margin-top: 30px;
      }

      .h2 {
        width: 100%;
      }

      .half {
        display: flex;
        flex-direction: column;

        .my-brand {
          display: flex;
          flex-direction: column;

          p {
            width: 100%;
          }

          .quarante {
            width: 100%;
          }
        }
      }

      .mon-compte {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        p {
          font-size: 16px;
        }

        input {
          width: 99%;
          height: 40px;
          border: none;
        }

        .mdp {
          display: flex;
          justify-content: space-between;
          align-items: center;

          button {
            background-color: $Gold;
            height: 40px;
            color: $White;
            width: 150px;
          }
        }
      }
    }

    .footer-desktop {
      justify-content: center;
      .p1 {
        display: none;
      }
    }
  }
}
